.contentAMPage {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: white;
    flex-direction: column;
    align-items: center;
    width: 97vw;
    height: 100vh;
}

.am-header {
    background-color: #0077B6;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

.ab-container {
    display: grid;
    grid-gap: 0;
    background-color: white;
    border-left: 2px solid #0077B6;
    border-right: 2px solid #0077B6;
    height: 87%;
    width: 70%;
    padding: 10px;
    background-color: aqua;
}
.aboutme-content{
    height: 250 px;
}